input {
  beats {
    port => 5044
  }
}

filter {
  if "json" in [tags] {
    json {
      source => "message"
      target => "message"
    }
  } else if "csv" in [tags] {
    
  }
}

output {
  elasticsearch {
    hosts => ["es01:9200"]
    index => "network-log"
    document_type => "log"
    action => "create"
  }
}
